initContainers:
  - name: download-models
    image: "ghcr.io/cpietsch/hi-sam:latest"
    command:
      - "sh"
      - "-c"
      - "python /app/scripts/download_models.py --model-type $MODEL_TYPE"
    environment:
      - name: MODEL_DIR
        value: "/models"
      - name: MODEL_TYPE
        value: "vit_l"
    volumeMounts:
      - name: models
        mountPath: /models

containers:
  - name: hi-sam
    image: "ghcr.io/cpietsch/hi-sam:latest"
    ports:
      - name: http
        port: 8000
    
    # Hardware resources requested
    cpu: "4"
    memory: "16Gi"
    gpu: 'nvidia.com/mig-1g.10gb'

    environment:
      - name: HISAM_REPO_PATH
        value: "/opt/Hi-SAM"
      - name: MODEL_DIR
        value: "/models"
      - name: CUDA_VISIBLE_DEVICES
        value: "0"
      - name: MODEL_TYPE
        value: "vit_l"

    volumeMounts:
      - name: models
        mountPath: /models
        
    command:
      - "uvicorn"
      - "app.main:app"
      - "--host"
      - "0.0.0.0"
      - "--port"
      - "8000"

volumes:
  - name: models
    size: 5Gi
