initContainers:
  - name: prefetch
    image: "ghcr.io/cpietsch/hi-sam:latest"
    environment:
      - name: MODEL_DIR
        value: "/models"
    volumeMounts:
      - name: models
        mountPath: /models
    command: ["python", "/app/scripts/download_models.py", "--model-type", "vit_l"]

containers:
  - name: hi-sam
    image: "ghcr.io/cpietsch/hi-sam:latest"
    ports:
      - name: default
        port: 8000
    resources:
      limits:
        nvidia.com/gpu: 1
        memory: "16Gi"
        cpu: 4
      requests:
        nvidia.com/gpu: 1
        memory: "16Gi"
        cpu: 4
    environment:
      - name: HISAM_REPO_PATH
        value: "/opt/Hi-SAM"
      - name: MODEL_DIR
        value: "/models"
      - name: CUDA_VISIBLE_DEVICES
        value: "0"
    volumeMounts:
      - name: models
        mountPath: /models
    command: ["uvicorn"]
    args:
      - "app.main:app"
      - "--host"
      - "0.0.0.0"
      - "--port"
      - "8000"

volumes:
  - name: models
    size: 5Gi
